* {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

#navigation {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 22px;
    margin: 8px;
}

a:hover,
a:active {
    padding: 8px;
    transform: scale(1.1);
    transition: transform .9s;
    text-decoration: none;
    font-size: 30px;
}

a {
    background: linear-gradient(to right, silver 50%, black 50%);
    margin-left: 20px;
}

a {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

a {
    transition: background-position 275ms ease;
}

a:hover {
    background-position: 0 100%;
}

body {
    background-image: url('images/Marble.jpeg');
    background-size: 200% 200%;
    height: 100vh;
}

#topSection {
    display: flex;
    justify-content: flex-start;
}

h1 {
    font-size: 70px;
    letter-spacing: 6px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 20px;
}

.contact h2 {
    text-align: center;
    padding: 8px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-section {
    background: url(bg.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}

.contact-section h2 {
    text-align: center;
    color: white;
}

.border {
    width: 100px;
    height: 10px;
    background: rgb(21, 21, 22);
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: white;
    padding: 20px 40px;
    outline: none;
    color: bold black;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #88818b;
}

textarea.contact-form-text {
    resize: none;
}

.contact-form-btn {
    float: right;
    border: 0;
    color: black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 25px
}

footer a:hover i::before {
    background-position: 0% 0%;
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px
    }
    .skill {
        width: 100%;
    }
}